{
    "singleQuote": false,
    "trailingComma": "all",
    "semi": true,
    "tabWidth": 2,
    "printWidth": 100,
    "endOfLine": "auto",
    "bracketSpacing": true,
    "arrowParens": "always",
    "useTabs": false
}