name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./nexus-backend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
          cache-dependency-path: nexus-backend/package-lock.json
      - run: pnpm ci
      - run: pnpm run lint

  build:
    runs-on: ubuntu-latest
    needs: lint
    defaults:
      run:
        working-directory: ./nexus-backend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
          cache-dependency-path: nexus-backend/package-lock.json
      - run: pnpm ci
      - run: pnpm run build

  test:
    runs-on: ubuntu-latest
    needs: build
    defaults:
      run:
        working-directory: ./nexus-backend
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
          cache-dependency-path: nexus-backend/package-lock.json
      - run: pnpm ci
      - run: pnpm run test -- --ci --coverage --watchAll=false
